# 環境変数ファイル
.env

# ログファイル
tts.log

# 作業用フォルダ
imgs/
output/
TDM/
trolley_line_analysis.egg-info/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
