[cognito]
client_id = "<your-client-id>"
client_secret = "<your-client-secret>"
aws_region = "<your-aws-region>"
user_pool_id = "<your-user-pool-id>"
domain = "<your-cognito-domain>"
redirect_uri = "https://esio-cis.com/"